.chat-container {
  width: 800px;
  @include calc(height, '100vh - 20px');
  margin-top: 10px;

  background-color: $white;

  box-shadow: 0 0 15px 1px $light-gray;
}

.chat-header {
  height: 60px;

  background-color: $main-color;

  h2 {
    height: 100%;

    line-height: 60px;
  }
}

.chat-content-height {
  @include calc(height, '100vh - 80px');
}

.chat-members-list {
  padding: 0 15px;
  margin: 0;

  overflow: scroll;
  list-style: none;

  li {
    padding: 15px 0;

    font-family: $font;
    font-size: 18px;
    font-weight: 300;

    @include display(flex);
    @include align-items(center);

    & + li {
      border-top: 1px solid $border-color;
    }

    i {
      color: $main-color;
    }
  }
}

.user-identify {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;

  font-weight: 400;
  line-height: 50px;
  text-align: center;

  background-color: $border-color;
  border-radius: 50%;
}

.chat-messages {
  position: relative;
}

.chat-textbox {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding-bottom: 15px;

  @include display(flex);
  @include align-items(center);

  input {
    height: 40px;
  }
}

.chat-send-button {
  height: 40px;
  margin-left: 10px;

  font-size: 20px;
  line-height: 40px;
  color: $white;
  text-align: center;

  background-color: $main-color;
  border-radius: 50%;

  @include flex(0 0 40px);
  @include align-items(center);

  i {
    position: relative;
    left: 1px;
  }
}
