@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/bold/roboto-bold-webfont.eot');
  src: url('../fonts/roboto/bold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/bold/roboto-bold-webfont.woff2') format('woff2'),
  url('../fonts/roboto/bold/roboto-bold-webfont.woff') format('woff'),
  url('../fonts/roboto/bold/roboto-bold-webfont.ttf') format('truetype'),
  url('../fonts/roboto/bold/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/ligth/roboto-light-webfont.eot');
  src: url('../fonts/roboto/ligth/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/ligth/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/ligth/roboto-light-webfont.woff') format('woff'),
  url('../fonts/roboto/ligth/roboto-light-webfont.ttf') format('truetype'),
  url('../fonts/roboto/ligth/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/regular/roboto-regular-webfont.eot');
  src: url('../fonts/roboto/regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/regular/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/regular/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/roboto/regular/roboto-regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto/regular/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
