body,
html,
.chat {
  height: 100%;
}

body {
  background-color: $body-color;
}

* {
  @include prefixer(text-rendering, optimizeLegibility, webkit moz spec);
  @include prefixer(font-smoothing, antialiased, webkit moz spec);
}
