$font: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';

$body-color: #f6f6f6;
$white: #ffffff;
$light-gray: rgba(0, 0, 0, 0.1);
$text-color: #2c292c;
$placeholders-color: #646464;
$main-color: #009999;
