<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Chatex</title>

  <!--== STYLES ==-->

  <link rel="stylesheet" href="./public/assets/vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./public/assets/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="./public/assets/css/chatex.min.css">

  <!--== END STYLES ==-->
</head>
<body>
<div class="chat" id="chat">

  <div class="login-wrapper" v-if="connected == false">
    <h1 class="title center">
      Chatex
    </h1>
    <!--== /.main-title ==-->

    <div class="login-inputs">

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Your name" v-model="username" v-on:keyup.enter="connect" autofocus>
      </div>

      <button class="btn btn-login" v-on:click="connect">Enter on chat</button>
    </div>
    <!--== /.login-inputs ==-->
  </div>
  <!--== /.login-wrapper ==-->

  <section class="container chat-container" v-if="connected">
    <div class="row">
      <header class="chat-header">
        <div class="col-xs-12 col-md-4 height-full divider-right green">
          <h2 class="title white">
            <i class="fa fa-users" aria-hidden="true"></i> Online | {{members.length}}
          </h2>
          <!--== /.title white ==-->
        </div>
        <!--== /.col-xs-12 col-md-4 height-full divider-right green ==-->

        <div class="col-xs-12 col-md-8 height-full">
          <h2 class="title white">
            <i class="fa fa-comments" aria-hidden="true"></i> Chat
          </h2>
          <!--== /.title white ==-->
        </div>
        <!--== /.col-xs-12 col-md-8 height-full ==-->
      </header>
      <!--== /.chat-header ==-->
    </div>
    <!--== /.row ==-->

    <div class="row">
      <div class="chat-content-height">
        <div class="col-xs-12 col-md-4 height-full divider-right gray">

          <div class="row">
            <ul class="chat-members-list chat-content-height">
              <li v-for="member in members">
                <span class="user-identify">{{member.charAt(0)}}</span>
                <span>{{member}}</span>
              </li>
            </ul>
          </div>
          <!--== /.row ==-->
        </div>
        <!--== /.col-xs-12 col-md-4 height-full ==-->

        <div class="col-xs-12 col-md-8 height-full chat-history-wrapper">
          <div class="chat-messages chat-content-height">

            <ul class="chat-history">
              <li class="chat-history-item" v-for="message in messages">

                <div class="chat-history-item-join" v-if="message.icon == 'join'">
                  <i class="fa fa-user"></i> {{message.username}} {{message.content}}
                </div>
                <!--== /.chat-history-item-join ==-->

                <div class="chat-history-item-leave" v-if="message.icon == 'leave'">
                  <i class="fa fa-close"></i> {{message.username}} {{message.content}}
                </div>
                <!--== /.chat-history-item-leave ==-->

                <div class="chat-history-item-card left" v-if="message.type == 'message'">
                  <div class="chat-history-message-header">
                    <div class="chat-history-message-name">
                      <strong>{{message.username}}</strong>
                    </div>
                    <!--== /.chat-history-message-name ==-->

                    <div class="chat-history-message-date">
                      {{message.date}}
                    </div>
                    <!--== /.chat-history-message-date ==-->
                  </div>
                  <!--== /.chat-history-message-header ==-->

                  <div class="chat-history-message-content">
                    {{message.content}}
                  </div>
                  <!--== /.chat-history-message-content ==-->
                </div>
                <!--== /.chat-history-item-card left ==-->
              </li>
              <!--== /.chat-history-item ==-->
            </ul>
            <!--== /.chat-history ==-->

            <div class="chat-textbox">
              <input class="form-control" type="text" name="message" v-model="message" v-on:keyup.enter="sendMessage" placeholder="Enter a message" autocomplete="off">
              <span class="chat-send-button" v-on:click="sendMessage"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </div>
            <!--== /.chat-textbox ==-->
          </div>
          <!--== /.chat-messages chat-content-height ==-->
        </div>
        <!--== /.col-xs-12 col-md-8 height-full ==-->
      </div>
      <!--== /.chat-content ==-->
    </div>
    <!--== /.row ==-->
  </section>
  <!--== /.container ==-->
</div>

<!--== 3rd-party SCRIPTS ==-->

<script src="./public/assets/vendors/jquery/jquery.min.js"></script>
<script src="./public/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="./public/assets/vendors/vue/js/vue.min.js"></script>

<!--== END 3rd-party SCRIPTS ==-->

<!--== PROJECT SCRIPTS ==-->
<script src="./public/assets/js/chatex.min.js"></script>
<!--== END PROJECT SCRIPTS ==-->

</body>
</html>
