<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Chatex</title>

  <!--== STYLES ==-->

  <link rel="stylesheet" href="./public/assets/vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./public/assets/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="./public/assets/css/chatex.min.css">

  <!--== END STYLES ==-->
</head>
<body>
<div class="chat" id="chat">

  <div class="login-wrapper" v-if="connected == false">
    <h1 class="title center">
      Chatex
    </h1>
    <!--== /.main-title ==-->

    <div class="login-inputs">

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Your name" v-model="username" v-on:keyup.enter="connect" autofocus>
      </div>

      <button class="btn btn-login" v-on:click="connect">Enter on chat</button>
    </div>
    <!--== /.login-inputs ==-->
  </div>
  <!--== /.login-wrapper ==-->

  <section class="container chat-container" v-if="connected">
    <div class="row">
      <header class="chat-header">
        <div class="col-xs-12 col-md-4 height-full divider-right green">
          <h2 class="title white">
            <i class="fa fa-users" aria-hidden="true"></i> Online | {{members.length}}
          </h2>
          <!--== /.title white ==-->
        </div>
        <!--== /.col-xs-12 col-md-4 height-full divider-right green ==-->

        <div class="col-xs-12 col-md-8 height-full">
          <h2 class="title white">
            <i class="fa fa-comments" aria-hidden="true"></i> Chat
          </h2>
          <!--== /.title white ==-->
        </div>
        <!--== /.col-xs-12 col-md-8 height-full ==-->
      </header>
      <!--== /.chat-header ==-->
    </div>
    <!--== /.row ==-->

    <div class="row">
      <div class="chat-content-height">
        <div class="col-xs-12 col-md-4 height-full divider-right gray">

          <div class="row">
            <ul class="chat-members-list chat-content-height">
              <li v-for="member in members">
                <span class="user-identify">{{member.charAt(0)}}</span>
                <span>{{member}}</span>
              </li>
            </ul>
          </div>
          <!--== /.row ==-->
        </div>
        <!--== /.col-xs-12 col-md-4 height-full ==-->

        <div class="col-xs-12 col-md-8 height-full chat-history-wrapper">
          <div class="chat-messages chat-content-height">

            <ul class="chat-history">
              <li class="chat-history-item left" v-for="message in messages">
                <div v-if="message.type == 'message'">
                  <div class="chat-history-message-header">
                    <div class="chat-history-message-name">
                      <strong>{{message.username}}</strong>
                    </div>

                    <div class="chat-history-message-date">
                      {{message.date}}
                    </div>
                  </div>

                  <div class="chat-history-message-content">
                    {{message.content}}
                  </div>
                </div>
              </li>
            </ul>


            <div class="chat-textbox">
              <input class="form-control" type="text" name="message" v-model="message" v-on:keyup.enter="sendMessage" placeholder="Enter a message" autocomplete="off">
              <span class="chat-send-button" v-on:click="sendMessage"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </div>
            <!--== /.chat-textbox ==-->
          </div>
          <!--== /.chat-messages chat-content-height ==-->
        </div>
        <!--== /.col-xs-12 col-md-8 height-full ==-->
      </div>
      <!--== /.chat-content ==-->
    </div>
    <!--== /.row ==-->
  </section>
  <!--== /.container ==-->

  <!--<div class="ui grid container" v-if="connected">-->

  <!--<div class="ten wide column">-->
  <!--<h1 class="ui dividing header">Chat</h1>-->

  <!--<div class="ui comments" v-for="message in messages">-->

  <!--<div class="comment" v-if="message.type == 'member'">-->
  <!--<div class="content">-->
  <!--<h4 class="ui horizontal divider header">-->
  <!--<i class="icon user add" v-if="message.icon == 'join'"></i>-->
  <!--<i class="icon user remove" v-if="message.icon == 'leave'"></i>-->
  <!--{{message.username}} {{message.content}}-->
  <!--</h4>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="comment" v-if="message.type == 'message'">-->
  <!--<a class="avatar">-->
  <!--<img src="http://semantic-ui.com/images/avatar/small/joe.jpg">-->
  <!--</a>-->
  <!--<div class="content">-->
  <!--<a class="author">{{message.username}}</a>-->
  <!--<div class="metadata">-->
  <!--<span class="date">{{message.date}}</span>-->
  <!--</div>-->
  <!--<div class="text">{{message.content}}</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="ui form">-->
  <!--<div class="field">-->
  <!--<input type="text" name="message" v-model="message" v-on:keyup.enter="sendMessage" autocomplete="off">-->
  <!--</div>-->
  <!--<button type="button" name="send" v-on:click="sendMessage">Send</button>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="six wide column" v-if="connected">-->
  <!--<div class="ui feed">-->
  <!--<h1 class="ui dividing header">Online {{members.length}}</h1>-->
  <!--<div class="event" v-for="member in members">-->
  <!--<div class="label">-->
  <!--<img src="http://semantic-ui.com/images/avatar/small/elliot.jpg">-->
  <!--</div>-->
  <!--<div class="content">-->
  <!--{{member}}-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->

</div>

<!--== 3rd-party SCRIPTS ==-->

<script src="./public/assets/vendors/jquery/jquery.min.js"></script>
<script src="./public/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="./public/assets/vendors/vue/js/vue.min.js"></script>

<!--== END 3rd-party SCRIPTS ==-->

<!--== PROJECT SCRIPTS ==-->
<script src="./public/assets/js/chatex.min.js"></script>
<!--== END PROJECT SCRIPTS ==-->

</body>
</html>
