<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Chatex</title>

  <!--== STYLES ==-->

  <link rel="stylesheet" href="./public/assets/vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./public/assets/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="./public/assets/css/chatex.min.css">

  <!--== END STYLES ==-->
  </head>
<body>
<div class="chat" id="chat">

  <div class="login-wrapper">
    <h1 class="main-title">
      Chatex
    </h1>
    <!--== /.main-title ==-->

    <div class="login-inputs">

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Your name">
      </div>

      <button class="btn">Enter on chat</button>
    </div>
    <!--== /.login-inputs ==-->
  </div>
  <!--== /.login-wrapper ==-->

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
      <!--== /.col-xs-12 ==-->
    </div>
    <!--== /.row ==-->
  </div>
  <!--== /.container ==-->


  <!--<div class="ui middle aligned center aligned grid" v-if="connected == false">-->
    <!--<div class="enter-column column">-->
      <!--<h2 class="ui teal image header">-->
        <!--<div class="content">Chatex</div>-->
      <!--</h2>-->

      <!--<div class="ui large form">-->
        <!--<div class="ui stacked segment">-->
          <!--<div class="field">-->
            <!--<div class="ui left icon input">-->
              <!--<i class="user icon"></i>-->
              <!--<input type="text" name="username" placeholder="Your name" v-model="username" v-on:keyup.enter="connect" focus>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="ui fluid large teal submit button" v-on:click="connect">Enter on chat</div>-->
        <!--</div>-->

        <!--<div class="ui error message"></div>-->

      <!--</div>-->

    <!--</div>-->
  <!--</div>-->

  <!--<div class="ui grid container" v-if="connected">-->

    <!--<div class="ten wide column">-->
      <!--<h1 class="ui dividing header">Chat</h1>-->

      <!--<div class="ui comments" v-for="message in messages">-->

        <!--<div class="comment" v-if="message.type == 'member'">-->
          <!--<div class="content">-->
            <!--<h4 class="ui horizontal divider header">-->
              <!--<i class="icon user add" v-if="message.icon == 'join'"></i>-->
              <!--<i class="icon user remove" v-if="message.icon == 'leave'"></i>-->
              <!--{{message.username}} {{message.content}}-->
            <!--</h4>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="comment" v-if="message.type == 'message'">-->
          <!--<a class="avatar">-->
            <!--<img src="http://semantic-ui.com/images/avatar/small/joe.jpg">-->
          <!--</a>-->
          <!--<div class="content">-->
            <!--<a class="author">{{message.username}}</a>-->
            <!--<div class="metadata">-->
              <!--<span class="date">{{message.date}}</span>-->
            <!--</div>-->
            <!--<div class="text">{{message.content}}</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="ui form">-->
        <!--<div class="field">-->
          <!--<input type="text" name="message" v-model="message" v-on:keyup.enter="sendMessage" autocomplete="off">-->
        <!--</div>-->
        <!--<button type="button" name="send" v-on:click="sendMessage">Send</button>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="six wide column" v-if="connected">-->
      <!--<div class="ui feed">-->
        <!--<h1 class="ui dividing header">Online {{members.length}}</h1>-->
        <!--<div class="event" v-for="member in members">-->
          <!--<div class="label">-->
            <!--<img src="http://semantic-ui.com/images/avatar/small/elliot.jpg">-->
          <!--</div>-->
          <!--<div class="content">-->
            <!--{{member}}-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

</div>

<!--== 3rd-party SCRIPTS ==-->

<script src="./public/assets/vendors/jquery/jquery.min.js"></script>
<script src="./public/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="./public/assets/vendors/vue/js/vue.min.js"></script>

<!--== END 3rd-party SCRIPTS ==-->

<!--== PROJECT SCRIPTS ==-->
<script src="./public/assets/js/chatex.min.js"></script>
<!--== END PROJECT SCRIPTS ==-->

</body>
</html>
